<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 直接使用bean标签，会调用无参构造方法创建对象 -->
    <bean id="apple" class="com.goal.spring6.bean.Apple"/>

    <!-- 静态工厂方法 -->
    <bean id="factoryApple" class="com.goal.spring6.bean.AppleFactory" factory-method="get"/>

    <!-- 具体工厂类 -->
    <bean id="gunFactory" class="com.goal.spring6.factory.GunFactory"/>
    <!-- 指定工厂类ID、方法 -->
    <bean id="gun" factory-bean="gunFactory" factory-method="get"/>

    <!-- 由于PersonFactory实现了FactoryBean接口，无需配置其他属性【factory-bean、factory-method】 -->
    <bean id="person" class="com.goal.spring6.factory.PersonFactory"/>

    <bean id="cusDate" class="java.util.Date">
        <!-- 年 -->
        <constructor-arg name="year" value="1988"/>
        <!-- 月 -->
        <constructor-arg name="month" value="12"/>
        <!-- 天 -->
        <constructor-arg name="date" value="15"/>
    </bean>

    <!-- 创建日期 -->
    <bean id="birthday" class="com.goal.spring6.date.DateFactoryBean">
        <!-- 指定构造方法参数 -->
        <constructor-arg name="strDate" value="1980-10-11"/>
    </bean>
    <!-- 引用日期对象 -->
    <bean id="student" class="com.goal.spring6.date.Student">
        <property name="birthday" ref="birthday"/>
    </bean>

</beans>